# dependencies
node_modules

# environment variables
.env
.env.test
.env.local
.env.development
.env.production

# build output
dist

# logs
logs
*.log

# test coverage
coverage

# prisma generated client
/src/generated/prisma

# OS files
.DS_Store

# vscode
.vscode

# idea
.idea

# optional
*.tsbuildinfo